*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(56, 56, 56);
    color: rgb(207, 207, 207);
}


h1{
    margin-top: 25px;
}
p{
    font-size: 16px;
}
.search-form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    gap: 10px;
}
.serch-form label{
    text-align: start;
    font-size: 10px;
}
.search-form input{
    border: 1px solid black;
    padding-left: 3px;
    outline: none;
    width: 800px;
    height: 40px;
}

.search-form input textarea{
    font-size: 40px;
}

.search-form .material-icons{
    background-color: rgb(207, 207, 207);
    width: 40px;
    height: 40px;
    border: 1px solid black;
   
}

.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.ADD{
    background-color: rgb(0, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 50px;
    height: 50px;
    border: 2px solid black;
    margin-bottom: 20px;
}
.ADD:hover{
    box-shadow: 0px 0px 20px rgb(0, 255, 0);
}


.delete{
    background-color: rgb(255, 17, 0);
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 50px;
    height: 50px;
    border: 2px solid black;
}

.delete:hover{
    box-shadow: 0px 0px 20px rgb(255, 17, 0);
}


.edit{
    background-color: rgb(255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 50px;
    height: 50px;
    border: 2px solid black;
}

.edit:hover{
    box-shadow: 0px 0px 20px rgb(255, 255, 0);
}


table{
    font-size: 14px;
    text-align: center;
    border-collapse: collapse;
    width: 1044px;
    margin-bottom: 50px;
}

table td, th{
    border: 1px solid black;
    padding: 4px;
    background-color: rgb(27, 27, 27);
    color: rgb(207, 207, 207);
}


.funcionario-div{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #0009;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;

}

.funcionario-form{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width: 30%;
    height: fit-content;
    padding-left: 30px;
    padding-right: 30px;
    background-color: black;
    box-shadow: 0px 0px 20px white;
    color: white;
}

.funcionario-div h1{
    margin-bottom: 5px;
    font-size: 20px;
}
.Novo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.funcionario-div label{
    font-size: 15px;
    font-weight: bold;
}

.funcionario-div input{
    width: 100%;
    margin-bottom: 20px;
    height: 20px;
    padding-left: 2px;
    border: solid 1px white;
}

.funcionario-div button{
    width: 100%;
    background-color: transparent;
    border: 2px solid white;
    height: 20px;
   margin-bottom: 30px;
    font-weight: bold;
    transition: .2s;
    cursor: pointer;
    color: white;
}

.salvar:hover{
    box-shadow: 0px 0px 20px rgb(0, 255, 0);
} 

.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 30px;
}

.exit:hover{
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
}


